# this helps us load the data and the functions
# 
export(TCA_Like)
export(binomial_tau2)
export(build_coverage_from_expression)
export(caNRD_edit)
export(caRD_edit)
export(compute_effective_weights)
export(deconvolve_site)
export(estimate_no_reference_params)
export(estimate_proportions_signature_matrix)
export(estimate_theta_nnls)
export(format_site_id)
export(load_reference)
export(map_sites_to_genes)
export(simulate_bulk)
export(simulate_proportions)
export(simulate_reference)
export(simulate_reference_and_cohort)
export(simulate_true_editing)
